body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.inactiveLink {
    pointer-events: none;
}

.bacground_card_ship {
    background-image: url('../img/background.jpg');

}

.bacground_card_planet {
    background-image: url('../img/card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.display-none {
    display: none;
}