 body {
    
    background-image: url('./assets/starwars-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: 100% 100%;
}

#bodyPeople,#bodyPlanets, thead{
    background-color: rgba(255, 255, 255, 0.6);
}

#height{
    cursor: pointer;
}

#navbar{
    background-color:rgba(255, 255, 255, 0.6);
    color: rgb(3, 160, 3);
    width: 1920px;
    margin: 0 auto;
}

#informationConteiner {
    width: 1100px;
    left: auto;
    top: auto;
    background-color: rgba(255, 255, 255, 0.6);
    
}
.display-none {
    display: none;
}

.logo {
    width: 900px;
    height: 420px;
    margin: 0 auto;
}

.inactiveLink {
    pointer-events: none;
 }

 .moreResults {
    color: blue;
    background-color: rgba(255, 255, 255, 0.6);
 }